.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  border-radius: 8px;
  padding: 8px 0;
  overflow: hidden auto;
  width: 100%;
  min-width: 223px;
  min-height: 300px;
  max-height: min((100vh - 96px) - 60px, 734px);
}
