.tooltip_btn {
  position: relative;
  background-color: transparent;
  cursor: pointer;
}
.notify {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 12px;
  padding: 0 8px;
  span {
    font-family: var(--font-family);
    font-size: 13px;
    vertical-align: center;
    font-weight: bold;
  }
}
