.search {
  display: flex;
  align-items: center;
  width: 361px;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--border-radius);
  border: 1.5px solid transparent;
  padding: 12px 16px;
  transition: all 0.32s ease;
  &_result {
    width: 361px;
    &_desc {
      display: block;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      background-color: inherit;
      color: var(--text-color);
      padding: 10px 16px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: rgba(22, 24, 35, 0.06);
      }
    }
  }
  input {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    height: var(--search-height);
    color: var(--black);
    caret-color: var(--primary);
    background-color: transparent;
    &::placeholder {
      color: #828282;
    }
    &:not(:placeholder-shown) ~ .search_btn {
      color: rgba(22, 24, 35, 0.6);
    }
    &:not(:placeholder-shown) ~ .input_action {
      display: block;
    }
  }
  .input_action {
    display: none;
    margin: auto;
    .clear,
    .loading {
      color: rgba(22, 24, 35, 0.34);
      margin: 0 12px;
    }
    .clear {
      cursor: pointer;
      &:hover {
        color: rgba(22, 24, 35, 0.6);
      }
    }
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
  &_btn {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: transparent;
    font-size: 16px;
    color: rgba(22, 24, 35, 0.3);
    cursor: pointer;
    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
      background-color: rgba(22, 24, 35, 0.06);
    }
  }
  &_account {
    font-size: 14px;
    line-height: 20px;

    &_title {
      padding: 5px 12px;
      color: rgba(22, 24, 35, 0.5);
      font-weight: 600;
      color: rgba(22, 24, 35, 0.5);
    }
    &_item {
      padding: 9px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        background-color: rgba(22, 24, 35, 0.05);
      }
      .avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        padding: 0px;
        overflow: hidden;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info {
        flex: 0 1 auto;
        min-width: 0px;
        &_name {
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
          overflow: hidden;
        }
        &_verified {
          font-size: 14px;
          color: rgb(32, 213, 236);
          margin-left: 6px;
        }
        &_desc {
          font-size: 14px;
          line-height: 20px;
          color: rgba(22, 24, 35, 0.5);
          font-weight: 400;
          overflow: hidden;
        }
      }
    }
  }
  .splitter {
    width: 1px;
    height: 30px;
    margin-right: 16px;
    background: rgba(22, 24, 35, 0.12);
  }
}
//* Account Item
.account {
  padding: 9px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgba(22, 24, 35, 0.05);
  }
}
.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  padding: 0px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  flex: 0 1 auto;
  min-width: 0px;
  &_nickname {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    span {
      font-family: var(--font-family);
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  &_verified {
    color: rgb(32, 213, 236);
  }
  &_name {
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
  }
}
