.sidebar {
  width: 356px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  perspective: 1px;
  transform-style: preserve-3d;
  perspective-origin: right top;
  .wrapper {
    padding: 20px 0 26px 8px;
    min-height: 100%;
  }
}
